body, html {
    box-sizing: border-box;
    height: 100%;
}

*:before, *:after {
    box-sizing: inherit;
}

.bg {
    background: url(images/background4.jpg) no-repeat center fixed;
    background-size: cover;
}

/* nav {
    background-color: #757575;
    color: black;
} */

/* a {
    text-decoration: underline;
} */

/* footer {
    position: fixed;
} */