{% csrf_token %}
{% load static %}
<!DOCTYPE html>
<html class="bg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Golf Stats App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'GolfStatsApp/style.css' %}" rel="stylesheet">
</head>

<body class="row">
    <div id="app">
        <div>

            <header class="col s12 m12 l3 push-l2">
                <div>
                    <div class="card-panel blue-grey lighten-5 z-depth-2 center">
                        <div>
                            <h2>Golf Stats</h2>
                        </div>
                        <div>
                            {% if user.is_authenticated %}
                            <h3>Welcome, {{ user.username }}!</h3>
                            <br>
                            <div>
                                <a class="waves-effect waves-light btn-large light-blue darken-1 hoverable" href="#"><i class="material-icons left">home</i>Profile</a>
                                <br>
                                <br>
                                <!-- <a class="waves-effect waves-light btn-large light-blue darken-1" href="#"><i class="material-icons left">golf_course</i>Rounds</a>
                                <br>
                                <br>
                                <a class="waves-effect waves-light btn-large light-blue darken-1" href="#"><i class="material-icons left">add</i>Add</a>
                                <br>
                                <br> -->
                                <a class="waves-effect waves-light btn-large light-blue darken-1 hoverable" href="{% url 'logout' %}"><i class="material-icons left">logout</i>Logout</a>
                                <!-- <br>
                                <br>
                                <a href="#top">Return to Top</a> -->
                                <br>
                                <br>
                                <!-- <p>The switch below turns on a Graphical view of your statistics. Give it a try!</p> -->
                                <div class="switch">
                                    <p>The switch below changees your stats view from a Table to a Progressive Line Graph</p>
                                    <br>
                                    <label style="color:black; font-size:15px;"><strong>
                                        Table
                                        <input disabled type="checkbox">
                                        <span class="lever"></span>
                                        Graph
                                    </strong></label>
                                </div>
                                <!-- <a class="waves-effect waves-light btn-large light-blue darken-1 hoverable" href="#">Table/Graph</a> -->
                            </div>
                        </div>
                        <br>
                        <p>Presented by: Deezy Golf Co.&#174;</p>
                        <a href="http://materializecss.com">Materialize&#169;</a>
                    </div>
                </div>

                <div class="card-panel blue-grey lighten-5 z-depth-2" id='addround'>
                    <div>
                        <h4>Add a Round</h4>
                        <p>Click the button below to show/hide the Add Round input.</p>
                        <button class="waves-effect waves-light btn-large light-blue darken-1 hoverable" v-on:click="showAddRound = !showAddRound"><i class="material-icons">golf_course</i></button>
                        <div v-show="showAddRound">
                            <br>
                            <div class="input-field">
                                <input id="course" type="text" class="validate" v-model="course">
                                <label style="color:#9e9e9e;" for="course">Course Name</label>  
                            </div>
                            <div class="input-field">
                                <input id="par" type="text" class="validate" v-model="par">
                                <label style="color:#9e9e9e;" for="par">Par for the Course</label>  
                            </div>
                            <div class="input-field">
                                <input id="yourScore" type="text" class="validate" v-model="score">
                                <label style="color:#9e9e9e;" for="yourScore">Your Score</label>  
                            </div>
                            <div class="input-field">
                                <input id="gir" type="text" class="validate" v-model="greens">
                                <label style="color:#9e9e9e;" for="gir">Greens in Regulation</label>  
                            </div>
                            <div class="input-field">
                                <input id="totalFairways" type="text" class="validate" v-model="total_fairways">
                                <label style="color:#9e9e9e;" for="totalFairways">Total Course Fairways</label>  
                            </div>
                            <div class="input-field">
                                <input id="fir" type="text" class="validate" v-model="fairways_hit">
                                <label style="color:#9e9e9e;" for="fir">Fairways Hit in Regulation</label>  
                            </div>
                            <div class="input-field">
                                <input id="totalPutts" type="text" class="validate" v-model="putts">
                                <label style="color:#9e9e9e;" for="totalPutts">Putts</label>  
                            </div>
                            <br>
                            <button class="waves-effect waves-light btn-large light-blue darken-1 hoverable" v-on:click="showAddRound = false" @click="addRound"><i class="material-icons">sports_golf</i>Add Round</button>
                        </div>
                    </div>
                </div>
            </header>

        </div>
        <div>

            <div>
                <div  class="col s12 m12 l6 push-l2">
                    <div class="card-panel blue-grey lighten-5 z-depth-2">
                        <table class="bordered">
                            <caption><h4>Averages Across All Rounds</h4></caption>
                            <tr>
                                <th>Avg Score</th>
                                <th>Avg GIR</th>
                                <th>Avg FIR</th>
                                <th>Avg Putts</th>
                            </tr>
                            <tr>
                                <td>[[ avg_score ]]</td>
                                <td>[[ avg_greens ]]%</td>
                                <td>[[ avg_fairways ]]%</td>
                                <td>[[ avg_putts ]]</td>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <div class="col s12 m12 l6 push-l2" id='rounds'>
                    <div class="card-panel blue-grey lighten-5 z-depth-2">
                        <div class="scroll">
                            <table class="bordered">
                            <caption><h4>Rounds Added</h4></caption>
                            <p class="center">To delete rounds, you MUST be logged in on a desktop/laptop broswer.</p>
                            <tr class="center">
                                <th>Course</th>
                                <th>Score</th>
                                <th>GIR</th>
                                <th>FIR</th>
                                <th>Putts</th>
                                <th></th>
                            </tr>
                                <tr v-for="round in rounds" v-bind:key="round.id">
                                    <td>[[ round.course ]] - Par [[ round.par ]]</td>
                                    <td>[[ round.score ]]</td>
                                    <td>[[ round.greens_percentage ]]%</td>
                                    <td>[[ round.fairways_percentage ]]%</td>
                                    <td>[[ round.putts ]]</td>
                                    <td><button class="waves-effect waves-light red darken-1 btn-floating hide-on-med-and-down" @click="deleteRound(round)"><i class="material-icons left">delete</i></button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
    
            <div>
                {% else %}
                <br>
                <div>
                    <a class="waves-effect waves-light btn-large light-blue darken-1 hoverable" href="{% url 'login' %}"><i class="material-icons left">golf_course</i>Login</a>
                    <br>
                    <br>
                    <a class="waves-effect waves-light btn-large light-blue darken-1 hoverable" href="{% url 'users:signup' %}"><i class="material-icons left">create</i>Sign-Up</a>
                </div>
                <div>
                    <br>
                    <p>Presented by: Deezy Golf Co.&#174;</p>
                    <a href="http://materializecss.com">Materialize&#169;</a>
                </div>
                {% endif %}
            </div>

        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                rounds: [],
                showAddRound: false,
                course: '',
                score: '',
                par: '',
                greens: '',
                total_fairways: '',
                fairways_hit: '',
                putts: '',
                avg_score: '',
                avg_greens: '',
                avg_fairways: '',
                avg_putts: '',
            },
            mounted: function () {

                this.getRounds();
            },
            methods: {
                
                // roundChart: function () {
                //     axios ({
                //         method: 'get',
                //         url: 'api/v1/'
                //     }).then(response => {
                //         this.rounds = response.data.filter(round => round.user === {{ user.id }})
                    
                //     let chart = new Chart(ctx, {

                //     })
                //     })
                // },

                getRounds: function () {
                    axios({
                        method: 'get',
                        url: 'api/v1/',
                    }).then(response => {
                        console.log(response);
                        this.rounds = response.data.filter(round => round.user === {{ user.id }})
                    let scoreArray = []
                    let greensArray = []
                    let fairwaysArray = []
                    let puttsArray = []
                    const arrAvg = arr => arr.reduce((a, b) => a + b, 0) / arr.length

                    this.rounds.forEach(round => {
                        scoreArray.push(round.score)
                        greensArray.push(round.greens_percentage)
                        fairwaysArray.push(round.fairways_percentage)
                        puttsArray.push(round.putts)
                    }),
                    this.avg_score = arrAvg(scoreArray).toPrecision(3)
                        if (isNaN(this.avg_score)) this.avg_score=0  
                    this.avg_greens = arrAvg(greensArray).toPrecision(4)
                        if (isNaN(this.avg_greens)) this.avg_greens=0 
                    this.avg_fairways = arrAvg(fairwaysArray).toPrecision(4)
                        if (isNaN(this.avg_fairways)) this.avg_fairways=0 
                    this.avg_putts = arrAvg(puttsArray).toPrecision(3)
                        if (isNaN(this.avg_putts)) this.avg_putts=0 

                    })
                },

                addRound: function () {
                    let csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value;
                    axios({
                        url: '/api/v1/',
                        method: 'post',
                        headers: {
                            'X-CSRFToken': csrf_token
                        },
                        data: {
                            user: {{ user.id }},
                            course: this.course,
                            par: this.par,
                            score: this.score,
                            greens: this.greens,
                            total_fairways: this.total_fairways,
                            fairways_hit: this.fairways_hit,
                            putts: this.putts,
                        }
                    }).then(response => {
                        this.course = ''
                        this.par = ''
                        this.score = ''
                        this.greens = ''
                        this.total_fairways = ''
                        this.fairways_hit = ''
                        this.putts = ''
                        this.getRounds()
                    })
                },

                deleteRound: function (round) {
                    let csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value;
                    axios({
                        url: '/api/v1/' + round.id,
                        method: 'delete',
                        headers: {
                            'X-CSRFToken': csrf_token
                        },
                    }).then(response => {
                        this.getRounds()
                    })
                },
            },
        })
    </script>
</body>

</html>